---
import Button from '../components/Button';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Todo app'>
  <main>
    <h1 class='text-center text-3xl text-purple-400'>T O D O</h1>

    <Button client:only='React' />
  </main>
</Layout>
